[Unit]
Description=AmneziaWG Telegram VPN bot
After=network-online.target awg-quick@awg0.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/root/vpnbot
ExecStart=/usr/bin/python3 /root/vpnbot/bot.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=LOG_LEVEL=CRITICAL
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
